{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "@macpaw/eslint-config-base",
    "@macpaw/eslint-config-react",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
